.rotate{
    height: 60vh;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}
.rotate p {
    font-size: 40px;
    text-align: center;
}
.box-container{
    display: flex;
}
.box-rotate{
    width: 300px;
    height: 30px;
    background-color: antiquewhite;
    margin: 0 auto;
    transition: all ease-in-out 300ms;
}
.btn:active + .box-container > .box-rotate {
    transform: rotate(180deg);
    /* transform-origin: bottom left; */
    transform-origin: 100% left;
    transition: all ease-in-out 300ms;
}