/* CSS CIRCLE GROW HOVER */
.btn2 {
    width: 20%;
    background-color: #272727;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    margin: 2rem auto;
    padding: 1rem 2rem;
    border-radius: 9999px;
    transition: transform ease-in 300ms;
}
.btn2:hover {
    transform: scale(1.2);
    transition: transform ease-in 300ms;
}
.btn2:hover + .ball2 {
    /* transformation avec 2 parametres : hauteur - largeur */
    transform: scale(1, 0.5);
    transition: transform ease-in 2000ms;
}
.ball2 {
    width: 100px;
    height: 100px;
    background: #7efb78;
    margin-bottom: 1rem;
    border-radius: 50%;
    margin: 0 auto;
    transform: scale(0.1);
    transition: transform ease-in 300ms;
}
